@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-light-background: #F5F2F1;
    --color-light-background-light: #FFFFFF;

    --color-light-light-text: #888888;
    --color-dark-light-text: #888888;

    --color-dark-background: #000000;
    --color-dark-background-light: #1B1B1B;

    --color-light-text: black;
    --color-dark-text: white;

    --color-other-background: #59aac5;
    --color-other-text: white;

    --sidebar-width: 200px;
  }
.MuiChartsAxis-line {
  stroke: var(--dark-text-color);
}
}

@layer utilities {
  .rounded-full {
    border-radius: 50%;
  }
  .button {
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .button:active {
    transform: scale(0.9);
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.mode-light {
  --light-text-color: var(--color-light-light-text);
  --dark-text-color: var(--color-light-text);
  --background-color: var(--color-light-background);
  --light-background-color: var(--color-light-background-light);
  --other-background-color: var(--color-other-background);
  --other-text-color: var(--color-other-text);
  
  color-scheme: white;
}

.mode-dark {
  --light-text-color: var(--color-dark-light-text);
  --dark-text-color: var(--color-dark-text);
  --background-color: var(--color-dark-background);
  --light-background-color: var(--color-dark-background-light);
  --other-background-color: var(--color-other-background);
  --other-text-color: var(--color-other-text);

  color-scheme: dark;
}

.theme-green {
  --color-other-background: #73EC8B;
  --color-other-text: white;
}

.theme-red {
  --color-other-background: #FF4545;
  --color-other-text: white;
}

.theme-blue {
  --color-other-background: #59aac5;
  --color-other-text: white;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

