@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-light-background-dark: #3337a6;
    --color-light-background-light: #eef9ff;

    --color-dark-background-dark: #000000;
    --color-dark-background-light: #1B1B1B;

    --color-other-background: #59aac5;
    --color-other-text: white;

    --sidebar-width: 200px;
  }
}

@layer utilities {
  .rounded-full {
    border-radius: 50%;
  }
  .button {
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .button:active {
    transform: scale(0.9);
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.theme-green {
  --color-light-background-dark: #3337a6;
  --color-light-background-light: #eef9ff;

  --color-dark-background-dark: #3337a6;
  --color-dark-background-light: #eef9ff;

  --color-other-background: #59aac5;
  --color-other-text: white;
}

.theme-red {
  --color-light-background-dark: #3337a6;
  --color-light-background-light: #eef9ff;

  --color-dark-background-dark: #3337a6;
  --color-dark-background-light: #eef9ff;

  --color-other-background: #59aac5;
  --color-other-text: white;
}

.theme-blue {
  --color-light-background-dark: #3337a6;
  --color-light-background-light: #eef9ff;

  --color-dark-background-dark: #3337a6;
  --color-dark-background-light: #eef9ff;

  --color-other-background: #59aac5;
  --color-other-text: white;
}

.mode-light {
  --text-color: black;
  --background-color: var(--color-light-background-dark);
  --light-background-color: var(--color-light-background-light);
  --other-background-color: var(--color-other-background);
  --other-text-color: var(--color-other-text);
}

.mode-dark {
  --text-color: white;
  --background-color: var(--color-dark-background-dark);
  --light-background-color: var(--color-dark-background-light);
  --other-background-color: var(--color-other-background);
  --other-text-color: var(--color-other-text);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

